html, body {
  margin: 0;
  padding: 0;
}
#toppings {
  display: flex;
  flex-wrap: wrap;
}
input[type=checkbox] {
  display: none;
}
input + label {
  border: solid grey;
  background: lightgrey;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
input:checked + label {
  background: grey;
  color: white;
}
#start, #bake, #oven-temperature, #crust-type {
  font-size: 1.5em;
}
